
body {
    background-color: lightgray;
}

.headerHeight{
    height: 80px;
}

.contentAlignend{
    text-align: end;
}

.edit-buttons{
    color: #ccc !important;

}
.edit-buttons:hover {
    color: #229444 !important;
}

