<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Studentenvereniging Hexion{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% include './Shared/Header.html.twig' %}
        <div class="main"></div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}{% endblock %}
        {% include './Shared/Footer.html.twig' %}
    </body>
</html>
