{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>403 Forbidden</h1>

        <p>
            Access denied! <a href="/">return to the homepage</a>.
        </p>
    </div>

{% endblock %}
